.card {
    overflow: hidden;
    display: block;
    position: relative;
}

.card:hover .img-fluid {
    transform: scale(1.25);
    transition: 1s;
}

.card:hover .card-header {
    opacity: 0.7;
}

.card-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00004e;
}

.category {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Jaldi', sans-serif;
    text-transform: none;
}

.project-urls{
    text-transform: uppercase;
    font-size: 0.9em;
}

.project-urls .url{
    color: #0f106f;
    font-weight: bold;
}

.work h5 {
    font-size: 1em;
    font-weight: 700;
}

.work .projectDescription {
    font-family: 'Lekton', sans-serif;
    font-size: 0.9em;
}

.linework {
    background-color: #00004e;
    height: 2px;
    border-radius: 50px;
}

.private {
    color: grey;
    font-weight: bold;
}
.experience {
    color: grey;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
}

.tech {
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    color: #00004e;
}

hr {
    border-top: 1px solid #00004e;
}