.jldIcons {
    padding-left: 10px;
}


.blackBg {
    background-color: #141616;
    color: white;
}

.aboutMeTxt .intro {
    font-size: 7vw;
    font-family: 'Jaldi', sans-serif;
}

.intro span {
    color: #82cdff;
    background-color: transparent;
}

.intro a {
    color: #82cdff;
    text-decoration: underline;
}


.aboutMail a {
    background-color: white;
    color: #141616;
    border-radius: 30px;
    font-size: 12px;
    border: white 1px solid;
    font-family: 'Jaldi', sans-serif;
}

.aboutMail a:hover {
    background-color: #141616;
    color: white;
}

/** DIVIDER */
.blackBg .row .intro hr {
    border-top: 1px solid white;
}

/**SKILLS*/

.tech-skills ul p{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
}

.tech-skills ul li {
    list-style: square;
}

.blackBg .jld-icon {
    height: 100%;
    width: auto;
}
