  @media only screen and (max-width: 768px) {
    h1 {
        font-size: 1em;
    }
    .cardRight {
        margin-top: -130px;
    }
    svg {
        width: 0;
        height: 0;
    }
  
    .banner {
      height: 45vh;
    }

  }
  
  @media only screen and (max-width: 414px) {
    .cardRight {
        margin-top: 30px;
    }
    .cardLeft {
        margin-top: 30px;
    }
    svg {
        width: 0;
        height: 0;
    }

    .banner {
      height: 65vh;
    }
    
  }
  
  @media only screen and (min-width: 770px) {
    h1 {
        font-size: 1em;
    }
    .cardLeft {
        margin-top: -50px;
    }
    .cardRight {
        margin-top: -140px;
    }
    .banner {
      height: 50vh;
    }

  }
  
  @media only screen and (min-width: 1080px) {
    h1 {
        font-size: 1em;
    }
    .cardLeft {
        margin-top: -80px;
    }
    .cardRight {
        margin-top: -120px;
    }
    .banner {
      height: 85vh;
    }
  }
  
  /**BANNER*/
  body {
    background-color: #f5f5f5;
    perspective-origin: 20px 70px;
  }
  
  .link-jld {
    color: #00004e;
  }

  .link-jld:hover {
    color: #ff2496;
  }
  
  .banner {
    background: url("../assets/banner-jld.webp") center 1px no-repeat rgba(119, 119, 119, 0);
    background-size: 70vw;
    background-blend-mode: multiply;
    position: relative;
    align-items: center;
    color: #00004e;
    text-decoration: none;
  }
  
  h1 {
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    color: #00004e;
  }
  
  #title2 {
    color: #00004e;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.5em;
  }
  
  
  .linework {
    background-color: #00004e;
    height: 2px;
    border-radius: 50px;
  }
  
  
  /*social urls*/
  .icons {
    z-index: 3;
    flex-direction: column;
  }
  
  .linkedin,
  .gitlab {
      margin: 8px;
      padding: 3px;
      z-index: 10;
  }
  
  .linkedin:hover,
  .gitlab:hover {
      border: 1px solid #00004e;
      border-radius: 50%;
  }
  
  /*button*/
  
  .scrollDown .btn {
    color: white;
    font-size: 1.5rem;
    background-color: #00004e;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 1px;
    margin: 5% auto;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .scrollDown .btn:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: .05s
  }
  
  .scrollDown .btn:hover {
    width: 125px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    color: #00004e;
    transition: .3s;
  }
  
  
  /*PROJECTS BLOC TITLE*/
  
  .tagline {
    font-family: 'Lekton', sans-serif;
  }
  
  .projects {
    font-family: 'Jaldi', sans-serif;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .row #tree {
    background-color: black;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



  