.underline {
    border: 0.1px solid #7a7a7a;
    opacity: 0.2;
    ;
}

.footer {
    font-size: 0.8em;
    color: rgb(161, 158, 168);
    font-family: 'Jaldi', sans-serif;
}

.footer a {
    color: rgb(161, 158, 168);
}

.footer a:hover {
    color: #00004e;
}

.about-footer {
    background-color: #141616;
}

.about-footer a:hover {
    color: white;
    text-decoration: none;
}