* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}


/*CURSOR*/

.circle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30px) translateY(-30px);
  pointer-events: none;
  z-index: 9999;
  -webkit-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
  mix-blend-mode: exclusion;
}

.circle svg {
  width: 100%;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 600ms all cubic-bezier(.23, 1, .32, 1);
  transition: 600ms all cubic-bezier(.23, 1, .32, 1);
}
